<div id="page_wrapper">
	<div class="profile_image">
		<%= image_tag "profile.png" %>
	</div>
    <div class="content">
		<h1>Hey, I'm Apoorv Shrivastava</h1>
		<p>Welcome to my Blog Post site.</p>
		<p>This site was built using Rails 4 V4.2 by using devise gem and Postgresql and tested using IE Tester</p>
		<p>
			Address: Fortuna White Wings, 1st Main Rd, Talacauvery Housing Society Layout, Basavanagar, Bengaluru, Karnataka 560037 <br>
			Mobile no: +91722491464 <br> 
			E-mail: apoorvshrivastava1704@gmail.com 
		</p>
		<p>
		    ABOUT MYSELF:<br>
			Computer Engineer with Ruby on Rails app development , Software Testing & Core Java skills. I am looking for a career that is both challenging and rewarding. Although due to hospitalization it took extra time to complete the degree. To compensate the time I lost I have undergone Training in Ruby on Rails v4.1 and v4.2 and Software Testing, I am a Hard worker, Dedicated, Fast Learner, Team Player and Helpful with many other capabilities. 
		</p>
		<p>
			PROFESSIONAL SKILLS:<br>
			 Ruby on rails web app development certified from MyTectra Bangalore (Karnataka),<br> 
			 Software Testing  training(1 month) from Testing Campus. 
		</p>
		<p>
			PROJECT DETAILS:<br>
			 Self created project in Blogging site with bootstrap - https://theblogpost.herokuapp.com <br> 
			 Movie review app for code evaluation github - https://github.com/apoorv1704/moview-review <br>
			 Self created project in Blogging site – https://theblogit.herokuapp.com 
		</p>
		<p>
			EDUCATIONAL QUALIFICATION: <br>
			Computer Science(B.E.) 2016 from Shri Shankaracharya college of engineering and technology affiliated to Chhattisgarh Swami Vivekananda Technical University with CPI – 6.54 <br>
			Class 12th from Maharishi Vidya Mandir affiliatd to Central Board of Secondary Education with 56.36 % <br>
			Class 10th from Maharishi Vidya Mandir affiliated to Central Board of Secondary Education with 72 % 
		</p>
		<p>
			OTHER INFORMATION: <br>
			Father’s name: Mr. Pradeep Shrivastava <br>  
            Date of Birth: 17th April 1991  <br>
            Language Known:  English 
                             Hindi <br>  
            Hobbies: Love playing games both indoor and outdoor and listening music, Reading Novels and Programming 
		</p>
		<p>
			Ruby on Rails, or simply Rails, is a web application framework written in Ruby under the MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.
		</p>
		
	</div>
</div>